.p-gird{

    &__form{
        width:100%;
        text-align: center;
        padding:100px 0;
        border:1px solid #000;
    }

    &__signin{
        margin-top:50px;

        &-label{
            
            display: block;
        }

        &-errMsg{
            height:30px;
            color:#dc143c;
        }
    }

    &__box{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    &__slider{
        width:100%;
        border:solid 1px #000;
        aspect-ratio: 1/1;

        &-nav{
            display: flex;
            justify-content: space-around;
        }

        &-itme{

        }
    }

    &__slideshow{
        width:100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        
        &-container{
            height:100%;
            display: flex;
            transform:translateX(0px);
        }

        &-nav{
            width:100%;
            height:30px;
            display:flex;
            justify-content: space-around;
            align-items: center;
        }

        &-item{
            display:flex;
            align-items: center;
        }
    }
}